*.iml
.DS_Store
.gradle
.idea/
/.idea/caches
/.idea/workspace.xml
/.idea/libraries
/.idea/caches/*
/.idea/misc.xml
/local.properties
/captures
.externalNativeBuild
/build
/location/build/
/common/build/
/map/build/
/app/release/output.json
/app/*/release/output.json
