<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bykea.pk.partner">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" /> -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- <uses-permission android:name="android.permission.RECEIVE_SMS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_SMS" /> -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- To start location service on mobile restart -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" />
    <!-- <uses-feature android:glEsVersion="0x00030001" /> -->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <application
        android:name=".DriverApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/partner_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="merge">
        <activity
            android:name=".ui.activities.LoginActivity"
            android:theme="@style/NewTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.activities.HomeActivity"
            android:exported="true"
            android:hardwareAccelerated="@bool/enable_hardwareAccelerated"
            android:launchMode="singleTask" />
        <activity android:name=".ui.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.BaseActivity" />
        <activity
            android:name=".ui.activities.CallingActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Base" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_client_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.onesignal.BadgeCount"
            android:value="DISABLE" />
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".services.LocationService"
            android:enabled="true"
            android:stopWithTask="false" />

        <activity
            android:name=".ui.activities.BookingActivity"
            android:excludeFromRecents="false"
            android:hardwareAccelerated="@bool/enable_hardwareAccelerated" />
        <activity android:name=".ui.activities.FeedbackActivity" />
        <!-- CROPPING ACTIVITY -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <!--
              <activity
              android:name=".ui.activities.PlacesActivity"
              android:label="DropOff"
               />
        -->
        <activity android:name=".ui.activities.HistoryDetailActivity" />
        <activity android:name=".ui.activities.HistoryMissedCallsActivity" />
        <activity android:name=".ui.activities.HistoryCancelDetailsActivity" />

        <receiver android:name=".services.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Firebase Notifications -->
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->

        <service
            android:name=".services.OneSignalNotificationExtenderService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activities.ChatActivityNew"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activities.ChangePinActivity"
            android:label="@string/title_activity_change_pin"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.activities.PersonalActivity" />
        <activity android:name=".ui.activities.LicenseActivity" />
        <activity android:name=".ui.activities.PostBankAccountActivity" />
        <activity android:name=".ui.activities.ScannFingerPrintsActivity" />
        <activity android:name=".ui.activities.JsBankFingerSelectionActivity" />
        <activity android:name=".ui.activities.MotorbikeActivity" />
        <activity android:name=".ui.activities.BanksAccountActivity" />
        <activity android:name=".ui.activities.BanksDetailsActivity" />
        <activity android:name=".ui.activities.PaymentRequestActivity" />
        <activity
            android:name=".ui.activities.MyPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.helpers.webview.FinestWebViewCustomActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.ConfirmDropOffAddressActivity"
            android:hardwareAccelerated="@bool/enable_hardwareAccelerated" />
        <activity android:name=".ui.activities.ProblemActivity" />
        <activity android:name=".ui.activities.PostProblemActivity" />
        <activity android:name=".ui.activities.ReportActivity" />
        <activity android:name=".ui.activities.ReportPostActivity" />
        <activity android:name=".ui.activities.ForgotPasswordActivity" />
        <activity android:name=".ui.activities.SelectPlaceActivity" />
        <activity android:name=".ui.activities.SavePlaceActivity" />
        <activity
            android:name=".ui.activities.RegistrationActivity"
            android:theme="@style/NewTheme" />
        <activity
            android:name=".ui.activities.DocumentsRegistrationActivity"
            android:theme="@style/NewTheme" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.DeliveryScheduleDetailActivity"
            android:exported="true" />
        <activity android:name=".ui.activities.ShahkarActivity" />
        <activity android:name=".ui.activities.RankingActivity"></activity>
    </application>

</manifest>