<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bykea.pk.partner">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" /> -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- To start location service on mobile restart -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" /> <!-- <uses-feature android:glEsVersion="0x00030001" /> -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <application
        android:name=".DriverApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/partner_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="merge"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.activities.RideCodeVerificationActivity"
            android:launchMode="singleTop" />
        <!-- OTP SMS onLoadBoardListFragmentInteractionListener -->
        <receiver
            android:name=".ui.helpers.SmsBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activities.LoginActivity"
            android:theme="@style/NewTheme" />
        <activity
            android:name=".ui.activities.HomeActivity"
            android:exported="true"
            android:hardwareAccelerated="@bool/enable_hardwareAccelerated"
            android:launchMode="singleTask"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />
        <activity android:name=".ui.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.BaseActivity" />
        <activity
            android:name=".ui.calling.CallingActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:showWhenLocked="true"
            android:theme="@style/AppTheme.Base"
            android:turnScreenOn="true" />
        <activity
            android:name=".ui.calling.JobCallActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:showWhenLocked="true"
            android:theme="@style/AppTheme.Base"
            android:turnScreenOn="true" />
        <activity
            android:name=".ui.calling.MultiDeliveryCallingActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:showWhenLocked="true"
            android:theme="@style/AppTheme.Base"
            android:turnScreenOn="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_client_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.onesignal.BadgeCount"
            android:value="DISABLE" />
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".services.LocationService"
            android:enabled="true"
            android:exported="false" />
        <service android:name=".services.HandleInactivePushService" />

        <activity
            android:name=".ui.activities.BookingActivity"
            android:excludeFromRecents="false"
            android:hardwareAccelerated="@bool/enable_hardwareAccelerated" />
        <activity android:name=".ui.activities.FeedbackActivity" /> <!-- CROPPING ACTIVITY -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <!--
              <activity
              android:name=".ui.activities.PlacesActivity"
              android:label="DropOff"
               />
        -->
        <activity android:name=".ui.activities.HistoryDetailActivity" />
        <activity android:name=".ui.activities.HistoryMissedCallsActivity" />
        <activity android:name=".ui.activities.HistoryCancelDetailsActivity" />

        <receiver android:name=".services.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver> <!-- Firebase Notifications -->
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.DriverETAService"
            android:exported="false" />
        <service
            android:name=".services.OneSignalNotificationExtenderService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activities.ChatActivityNew"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activities.PersonalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.LicenseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.PostBankAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ScannFingerPrintsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.JsBankFingerSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.MotorbikeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.BanksAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.BanksDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.PaymentRequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.MyPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.helpers.webview.FinestWebViewCustomActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.ConfirmDropOffAddressActivity"
            android:hardwareAccelerated="@bool/enable_hardwareAccelerated" />
        <activity
            android:name=".ui.activities.PostProblemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SelectPlaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SavePlaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.RegistrationActivity"
            android:theme="@style/NewTheme" />
        <activity
            android:name=".ui.activities.DocumentsRegistrationActivity"
            android:theme="@style/NewTheme" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.DeliveryScheduleDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.MapDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ShahkarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.RankingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.NumberVerificationActivity"
            android:theme="@style/NewTheme" />
        <activity
            android:name=".ui.activities.LandingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.MultipleDeliveryBookingActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activities.MultiDeliveryFeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.loadboard.detail.JobRequestDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.complain.ComplaintSubmissionActivity"
            android:label="@string/title_activity_problem_final"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.complain.ComplaintListActivity"
            android:label="@string/title_complain_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.complain.ComplainZendeskIdentityActivity" />

        <receiver android:name=".ui.helpers.AppVersionUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.withdraw.WithdrawalActivity"
            android:theme="@style/NewTheme" />
        <activity android:name=".ui.withdraw.WithdrawThankyouActivity" />
    </application>

</manifest>